// 修改iview样式

@import './style.less';

.ivu-menu-item-group-title,
.ivu-menu-item-active{
    background: #f5f7f9;
}
.ivu-menu-item-group-title,
.ivu-menu-vertical .ivu-menu-item-group-title{    
    height: 42px;
    border-bottom: 1px solid #fff;
}
.ivu-menu,
.ivu-table-wrapper{
    display: inline-block;
    vertical-align: top;
}
.ivu-menu{
    border: 1px solid #d7dde4;
}

.ivu-tabs-mini{
    width: 100%;
}
.ivu-table-wrapper{
    width: 100%;
    table{
        width: 100%;
    }
}